<div class="d_qo_wrapper_order_button">

    <style>
        #d_qo_order_button {
            color: {{ config.button_style.color }};
        {% if(config.button_style.border) %} border: 1px solid{{ config.button_style.border }};
        {% endif %} background-color: {{ config.button_style.background_color }};
        {% if(config.button_style.background_color) %} background-image: none{% endif %}
        }

        #d_qo_order_button:hover {
            color: {{ config.button_style.hover_color }};
        {% if(config.button_style.hover_border) %} border: 1px solid{{ config.button_style.hover_border }};
        {% endif %} background-color: {{ config.button_style.hover_background_color }};
        {% if(config.button_style.hover_background_color) %} background-image: none{% endif %}
        }

        #d_qo_submit_btn {
            color: {{ config.button_style.color }};
        {% if(config.button_style.border) %} border: 1px solid{{ config.button_style.border }};
        {% endif %} background-color: {{ config.button_style.background_color }};
        {% if(config.button_style.background_color) %} background-image: none{% endif %}
        }

        #d_qo_submit_btn:hover {
            color: {{ config.button_style.hover_color }};
        {% if(config.button_style.hover_border) %} border: 1px solid{{ config.button_style.hover_border }};
        {% endif %} background-color: {{ config.button_style.hover_background_color }};
        {% if(config.button_style.hover_background_color) %} background-image: none{% endif %}
        }
    </style>

    <button id="d_qo_order_button" type="button" class="btn btn-primary" data-toggle="modal"
            style="color: {{ config.button_style.color }};  background-color: {{ config.button_style.background_color }}"
            data-target="#quickorderModal">
        {% for language in languages %}
            {{ config.text_button[language['language_id']] }}
        {% endfor %}
    </button>
</div>

<div id="quickorderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d_qo_wrapper_all_modal">
                <form id="d_qo_form" action="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="quick-order-wrapper-form">

                            {% for language in languages %}
                                {% if(config.modal_heading_title[language['language_id']]) %}
                                    <h5 id="dqo_modal_heading_title">{{ config.modal_heading_title[language['language_id']] }}</h5>
                                {% endif %}
                            {% endfor %}

                            {% for language in languages %}
                                {% if(config.modal_description[language['language_id']]) %}
                                    <div id="d_qo_modal_description_text">{{ config.modal_description[language['language_id']] }}</div>
                                {% endif %}
                            {% endfor %}

                            <hr/>

                            <div id="d_qo_separator"></div>

                            {% if(config.modal_field.name) %}
                                <div class="form-group">
                                    <label for="d_qo_field_name_selector">First Name</label>
                                    <input id="d_qo_field_name_selector" {% if(config.modal_field.name_required) %} required {% endif %}
                                           type="text" name="firstname" class="form-control"
                                           aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                            {% endif %}


                            {% if(config.modal_field.email) %}
                                <div class="form-group">
                                    <label for="d_qo_field_email_selector">Email address</label>
                                    <input type="email"
                                           name="email"
                                           class="form-control"
                                           id="d_qo_field_email_selector"
                                           aria-describedby="emailHelp"
                                           placeholder="Enter email"
                                            {% if(config.modal_field.email_required) %} required {% endif %}
                                    >
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="exampleInputEmail1">Phone address</label>
                                <input required type="text" name="telephone" class="form-control"
                                       id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>

                            {% if(config.modal_field.comment) %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Comment</label>
                                    <textarea required name="comment" id="" cols="30" rows="10"
                                              placeholder="Enter comment to order" {% if(config.modal_field.comment_required) %} required {% endif %}
                                    ></textarea>
                                </div>
                            {% endif %}

                            <hr/>

                            <div class="d_qo_product_responce">
                                <div class="d_qo_product_image">
                                    <img id="d_qo_product_image_src" src="" alt="">
                                </div>

                                <div class="d_qo_wrapper_product">
                                    <div class="d_qo_wrapper_product_info">
                                        <p id="d_qo_wrapper_product_name"></p>
                                        <p id="d_qo_wrapper_product_model"></p>
                                    </div>

                                    <div class="d_qo_wrapper_price_quantity">
                                        <div class="d_qo_wrapper_price">
                                            <span id="d_qo_product_price"></span>
                                        </div>
                                        <div class="quantity">
                                            <input id="d_qo_qty" name="amount" type="number" min="1" max="9" step="1"
                                                   value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="product_id" value="49">

                        {% for language in languages %}
                            {% if(config.text_modal_button[language['language_id']]) %}
                                <button type="submit" id="d_qo_submit_btn" class="btn btn-primary">{{ config.text_modal_button[language['language_id']] }}</button>
                            {% endif %}
                        {% endfor %}


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $.event.special.inputchange = {
        setup: function () {
            var self = this, val;
            $.data(this, 'timer', window.setInterval(function () {
                val = self.value;
                if ($.data(self, 'cache') != val) {
                    $.data(self, 'cache', val);
                    $(self).trigger('inputchange');
                }
            }, 20));
        },
        teardown: function () {
            window.clearInterval($.data(this, 'timer'));
        },
        add: function () {
            $.data(this, 'cache', this.value);
        }
    };

    function showAlertError(json) {
        $('#d_qo_form .alert, #d_qo_form .text-danger').remove();
        $('#d_qo_separator').append('<div class="alert alert-warning alert-dismissible" role="alert"> ' + json['error'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    function showAlertSuccess(json) {
        console.log("showAlertSuccess");

        $('#d_qo_form .alert, #d_qo_form .text-danger').remove();
        $('#d_qo_separator').append('<div class="alert alert-success alert-dismissible" role="alert"> ' + json['success'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    function showWarning(text) {
        console.log("showAlertSuccess");

        $('#d_qo_form .alert, #d_qo_form .text-danger').remove();
        $('#d_qo_separator').append('<div class="alert alert-warning alert-dismissible" role="alert"> ' + text + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    function clearModalForm() {
        $('#d_qo_form')[0].reset();
        $('#d_qo_form .alert').remove()
    }
    
    function clearAlerts() {
        $('#d_qo_form .alert').remove()
    }

    function getSearchParams(k) {
        var p = {};
        location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (s, k, v) {
            p[k] = v
        });
        return k ? p[k] : p;
    }

    function getProductIdPage() {
        if ($('input[name=product_id]').length) {
            var productId = $('input[name=product_id]').val();
        } else {
            productId = null;
        }

        return productId;
    }

    $('body').on('click', '#d_qo_order_button', function (e) {
        e.preventDefault();
        clearModalForm();

        var qty = 1;
        var product_id = null;
        var product_id_url = null;
        var product_id_page = null;

        if ($('#input-quantity').length) {
            qty = parseInt($('#input-quantity').val());
            if (qty) {
                $('#d_qo_qty').val(qty);
            }
        }

        product_id_url = getSearchParams("product_id");
        product_id_page = getProductIdPage();

        if (parseInt(product_id_url) == parseInt(product_id_page)) {
            product_id = parseInt(product_id_page);
        } else {
            product_id = parseInt(product_id_url);
        }

        $.ajax({
            url: 'index.php?route=extension/module/d_quick_order/AddToCartQuickOrderCartAjax',
            type: 'post',
            data: {product_id: product_id, quantity: qty},
            dataType: 'json',
            success: function (json) {
                console.log(json);

                if (json.hasOwnProperty('text_info')){
                    showWarning(json.text_info);
                }

                var path = "http://opencart/303/d_newquickorder/image/" + json.product_image;
                $('#d_qo_product_image_src').attr('src', path);
                $('#d_qo_wrapper_product_name').text(json.product_name);
                $('#d_qo_product_price').text(json.product_total_price);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('#d_qo_qty').on('inputchange', function (e) {
        e.preventDefault();

        var qty = 1;
        var product_id = null;
        var product_id_url = null;
        var product_id_page = null;

        if ($('#d_qo_qty').length) {
            qty = parseInt($('#d_qo_qty').val());
        }

        product_id_url = getSearchParams("product_id");
        product_id_page = getProductIdPage();

        console.log(parseInt(product_id_url) == parseInt(product_id_page));

        if (parseInt(product_id_url) == parseInt(product_id_page)) {
            product_id = parseInt(product_id_page);
        } else {
            product_id = parseInt(product_id_url);
        }

        $.ajax({
            url: 'index.php?route=extension/module/d_quick_order/AddToCartQuickOrderCartAjax',
            type: 'post',
            data: {product_id: product_id, quantity: qty},
            dataType: 'json',
            success: function (json) {
                console.log(json);

                if (json.hasOwnProperty('text_info')){
                    showWarning(json.text_info);
                }else{
                    clearAlerts();
                }

                $('#d_qo_product_price').text(json.product_total_price);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('#quickorderModal').on('submit', '#d_qo_form', function (e) {
        e.preventDefault();

        $.ajax({
            url: 'index.php?route=extension/module/d_quick_order/addOrderAjax',
            type: 'post',
            data: $(this).serialize(),
            dataType: 'json',
            success: function (json) {

                console.log(json);

                showAlertSuccess(json);
                clearModalForm();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function () {
        var spinner = jQuery(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

        btnUp.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

        btnDown.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

    });
</script>

<style>
    .d_qo_wrapper_order_button {
        width: 100%;
        height: 100%;
        display: flex;
    }

    #d_qo_order_button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    #quickorderModal .d_qo_wrapper_all_modal {
        padding: 0 20px;
    }

    #quickorderModal .quick-order-wrapper-form textarea {
        display: block;
        width: 100%;
        min-height: 80px;
        max-height: 80px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    #quickorderModal .quick-order-wrapper-form {
        padding: 0;
    }

    #quickorderModal .modal-header {
        min-height: 0;
        padding: 15px;
        border: none;
    }

    #quickorderModal .modal-header .close {
        margin-top: -5px;
        font-size: 25px;
    }

    #quickorderModal #dqo_modal_heading_title {
        text-align: center;
    }

    #quickorderModal #d_qo_modal_description_text {
        text-align: justify;
        width: 100%;
        height: 100%;
        max-height: 200px;
        overflow: hidden;
    }

    #quickorderModal #d_qo_submit {
        color: white;
        width: 125px;
        display: flex;
        justify-content: center;
        right: 0;
    }

    #quickorderModal .alert {
        padding: 15px;
        padding-right: 35px;
    }

    #quickorderModal .d_qo_product_responce {
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
    }

    #quickorderModal .d_qo_wrapper_product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 180px;
        flex-direction: column;
    }

    #quickorderModal .d_qo_wrapper_price_quantity {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #quickorderModal .d_qo_wrapper_price {
        padding-left: 20px;
    }

    #quickorderModal .d_qo_product_image img {
        width: auto;
        max-width: 280px;
        height: 180px;
        max-height: 180px;
    }

    #quickorderModal .d_qo_wrapper_product .quantity {
        position: relative;
    }

    #quickorderModal .d_qo_wrapper_product input[type=number]::-webkit-inner-spin-button,
    #quickorderModal .d_qo_wrapper_product input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #quickorderModal .d_qo_wrapper_product input[type=number] {
        -moz-appearance: textfield;
    }

    #quickorderModal .d_qo_wrapper_product .quantity input {
        width: 60px;
        height: 40px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        border: 1px solid #eee;
    }

    #quickorderModal .d_qo_wrapper_product .quantity input:focus {
        outline: 0;
    }

    #quickorderModal .d_qo_wrapper_product .quantity-nav {
        float: left;
        position: relative;
        height: 40px;
    }

    #quickorderModal .d_qo_wrapper_product .quantity-button {
        position: relative;
        cursor: pointer;
        border-left: 1px solid #eee;
        width: 20px;
        text-align: center;
        color: #333;
        font-size: 13px;
        font-family: "Trebuchet MS", Helvetica, sans-serif !important;
        line-height: 1.7;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #quickorderModal .d_qo_wrapper_product .quantity-button.quantity-up {
        position: absolute;
        height: 50%;
        top: 0;
        border-bottom: 1px solid #eee;
    }

    #quickorderModal .d_qo_wrapper_product .quantity-button.quantity-down {
        position: absolute;
        bottom: -1px;
        height: 50%;
    }
</style>