<div class="d_qo_wrapper_order_button">

    <style>
        #d_qo_order_button:focus {
            outline: none;
        }

        #d_qo_order_button {
            color: {{ config.button_style.color }};
        {% if(config.button_style.border) %} border: 1px solid{{ config.button_style.border }};
        {% endif %} background-color: {{ config.button_style.background_color }};
        {% if(config.button_style.background_color) %} background-image: none{% endif %}
        }

        #d_qo_order_button:hover {
            color: {{ config.button_style.hover_color }};
        {% if(config.button_style.hover_border) %} border: 1px solid{{ config.button_style.hover_border }};
        {% endif %} background-color: {{ config.button_style.hover_background_color }};
        {% if(config.button_style.hover_background_color) %} background-image: none{% endif %}
        }

        #d_qo_submit_btn {
            color: {{ config.button_style.color }};
        {% if(config.button_style.border) %} border: 1px solid{{ config.button_style.border }};
        {% endif %} background-color: {{ config.button_style.background_color }};
        {% if(config.button_style.background_color) %} background-image: none{% endif %}
        }

        #d_qo_submit_btn:hover {
            color: {{ config.button_style.hover_color }};
        {% if(config.button_style.hover_border) %} border: 1px solid{{ config.button_style.hover_border }};
        {% endif %} background-color: {{ config.button_style.hover_background_color }};
        {% if(config.button_style.hover_background_color) %} background-image: none{% endif %}
        }
    </style>

    <button id="d_qo_order_button" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#quickorderModal">
        {% for language in languages %}
            {{ config.text_button[language['language_id']] }}
        {% endfor %}
    </button>
</div>

<div id="quickorderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d_qo_wrapper_all_modal">
                <form id="d_qo_form" action="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="quick-order-wrapper-form">

                            {% for language in languages %}
                                {% if(config.modal_heading_title[language['language_id']]) %}
                                    <h5 id="dqo_modal_heading_title">{{ config.modal_heading_title[language['language_id']] }}</h5>
                                {% endif %}
                            {% endfor %}

                            {% for language in languages %}
                                {% if(config.modal_description[language['language_id']]) %}
                                    <div id="d_qo_modal_description_text">{{ config.modal_description[language['language_id']] }}</div>
                                {% endif %}
                            {% endfor %}

                            <hr/>

                            <div id="d_qo_separator"></div>

                            {% if(config.modal_field.name) %}
                                <div class="form-group {% if(config.modal_field.name_required) %} required {% endif %}">
                                    <label class="control-label" for="d_qo_field_name">First Name</label>
                                    <input id="d_qo_field_name" {% if(config.modal_field.name_required) %} required {% endif %}
                                           type="text" name="firstname" class="form-control"
                                           aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                            {% endif %}

                            {% if(config.modal_field.email) %}
                                <div class="form-group {% if(config.modal_field.email_required) %} required {% endif %}">
                                    <label class="control-label" for="d_qo_field_email">Email address</label>
                                    <input type="email"
                                           name="email"
                                           class="form-control"
                                           id="d_qo_field_email"
                                           aria-describedby="emailHelp"
                                           placeholder="Enter email"
                                            {% if(config.modal_field.email_required) %} required {% endif %}
                                    >
                                </div>
                            {% endif %}

                            <div class="form-group required">
                                <label class="control-label" for="d_qo_field_telephone">Phone address</label>
                                <input required type="text" name="telephone" class="form-control"
                                       id="d_qo_field_telephone"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>

                            {% if(config.modal_field.comment) %}
                                <div class="form-group {% if(config.modal_field.comment_required) %} required {% endif %}">
                                    <label class="control-label"
                                           for="d_qo_field_comment {% if(config.modal_field.comment_required) %} required {% endif %}">Comment</label>
                                    <textarea required name="comment" id="d_qo_field_comment" cols="30" rows="10"
                                              placeholder="Enter comment to order" {% if(config.modal_field.comment_required) %} required {% endif %}
                                    ></textarea>
                                </div>
                            {% endif %}

                            <hr/>

                            <div class="d_qo_product_responce">
                                <div class="d_qo_product_image">
                                    <img id="d_qo_product_image_src" src="" alt="">
                                </div>

                                <div class="d_qo_wrapper_product">
                                    <div class="d_qo_wrapper_product_info">
                                        <p id="d_qo_wrapper_product_name"></p>
                                        <p id="d_qo_wrapper_product_model"></p>
                                    </div>

                                    <div class="d_qo_wrapper_price_quantity">
                                        <div class="d_qo_wrapper_price">
                                            <p>Total : <span id="d_qo_product_price"></span></p>
                                        </div>
                                        <div class="quantity">
                                            <input id="d_qo_qty" name="quantity" type="number" min="1" max="999" step="1"
                                                   value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {#<input id="product_id_hidden" type="hidden" name="product_id" value="">#}

                        {% for language in languages %}
                            {% if(config.text_modal_button[language['language_id']]) %}
                                <button type="submit" id="d_qo_submit_btn"
                                        class="btn btn-primary">{{ config.text_modal_button[language['language_id']] }}</button>
                            {% endif %}
                        {% endfor %}


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var form_selector = 'd_qo_form';

    $.event.special.inputchange = {
        setup: function () {
            var self = this, val;
            $.data(this, 'timer', window.setInterval(function () {
                val = self.value;
                if ($.data(self, 'cache') != val) {
                    $.data(self, 'cache', val);
                    $(self).trigger('inputchange');
                }
            }, 20));
        },
        teardown: function () {
            window.clearInterval($.data(this, 'timer'));
        },
        add: function () {
            $.data(this, 'cache', this.value);
        }
    };

    function showAlertError(json) {
        $('#d_qo_form .alert, #d_qo_form .text-danger').remove();
        $('#d_qo_separator').append('<div class="alert alert-danger alert-dismissible" role="alert"> ' + json['error'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    function showAlertWarning(json) {
        $('#d_qo_form .alert, #d_qo_form .text-danger').remove();
        $('#d_qo_separator').append('<div class="alert alert-danger alert-dismissible" role="alert"> ' + json + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    function showAlertSuccess(json) {
        console.log("showAlertSuccess");
        $('#d_qo_form .alert').remove();
        $('#d_qo_separator').append('<div class="alert alert-success alert-dismissible" role="alert"> ' + json['success'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    function showWarning(text) {
        console.log("showWarning");

        $('#d_qo_form .alert, #d_qo_form .text-danger').remove();
        $('#d_qo_separator').append('<div class="alert alert-warning alert-dismissible" role="alert"> ' + text + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    function clearModalForm() {
        // $('#d_qo_form')[0].reset();

        setTimeout(function () {
            $('#d_qo_form .alert').remove();
        }, 3000);
    }

    function clearAlerts() {
        setTimeout(function () {
            $('#d_qo_form .alert').remove();
        }, 3000);
    }

    function getSearchParams(k) {
        var p = {};
        location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (s, k, v) {
            p[k] = v
        });
        return k ? p[k] : p;
    }

    function getProductIdPage() {
        if ($('input[name=product_id]').length) {
            var productId = $('input[name=product_id]').val();
        } else {
            productId = null;
        }

        return productId;
    }

    $('body').on('click', '#d_qo_order_button', function (e) {
        e.preventDefault();
        clearModalForm();

        var qty = 1;
        var product_id = null;
        var product_id_url = null;
        var product_id_page = null;

        if ($('#d_qo_qty').length) {
            qty = parseInt($('#d_qo_qty').val());
        }

        product_id_url = getSearchParams("product_id");
        product_id_page = getProductIdPage();

        if (parseInt(product_id_url) == parseInt(product_id_page)) {
            product_id = parseInt(product_id_page);
        } else {
            product_id = parseInt(product_id_url);
        }

        $.ajax({
            url: 'index.php?route=extension/module/d_quick_order/AddToCartQuickOrderCartAjax',
            type: 'post',
            data: $(form_selector + ', #product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea, #d_qo_field_name, #d_qo_field_email, #d_qo_field_telephone, #d_qo_field_comment, #d_qo_qty').serialize(),
            dataType: 'json',
            success: function (json) {
                console.log(json);

                if (json.hasOwnProperty('warning')) {
                    showWarning(json.warning);
                }

                var path = "http://opencart/303/d_newquickorder/image/" + json.product_image;
                $('#d_qo_product_image_src').attr('src', path);
                $('#d_qo_wrapper_product_name').text(json.product_name);
                $('#d_qo_product_price').text(json.product_total_price);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('#d_qo_qty').on('inputchange', function (e) {
        e.preventDefault();

        var qty = 1;
        var product_id = null;
        var product_id_url = null;
        var product_id_page = null;

        if ($('#d_qo_qty').length) {
            qty = parseInt($('#d_qo_qty').val());
        }

        product_id_url = getSearchParams("product_id");
        product_id_page = getProductIdPage();

        if (parseInt(product_id_url) == parseInt(product_id_page)) {
            product_id = parseInt(product_id_page);
        } else {
            product_id = parseInt(product_id_url);
        }

        $.ajax({
            url: 'index.php?route=extension/module/d_quick_order/AddToCartQuickOrderCartAjax',
            type: 'post',
            data: $(form_selector + ', #product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea, #d_qo_field_name, #d_qo_field_email, #d_qo_field_telephone, #d_qo_field_comment, #d_qo_qty').serialize(),
            dataType: 'json',
            success: function (json) {
                if (json.hasOwnProperty('warning')) {
                    showWarning(json.warning);
                } else {
                    clearAlerts();
                }

                $('#d_qo_product_price').text(json.product_total_price);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('#quickorderModal').on('submit', '#d_qo_form', function (e) {
        e.preventDefault();

        product_id_url = getSearchParams("product_id");
        product_id_page = getProductIdPage();

        if (product_id_page) {
            product_id = parseInt(product_id_page);
        } else {
            product_id = parseInt(product_id_url);
        }

        $.ajax({
            url: 'index.php?route=extension/module/d_quick_order/addOrderAjax',
            type: 'post',
            data: $(form_selector + ', #product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea, #d_qo_field_name, #d_qo_field_email, #d_qo_field_telephone, #d_qo_field_comment, #d_qo_qty').serialize(),
            dataType: 'json',
            success: function (json) {
                console.log(json);

                if (json.hasOwnProperty('warning')) {
                    if (json.warning.hasOwnProperty('option')) {

                        $('#quickorderModal').modal('toggle');

                        for (i in json['warning']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['warning']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['warning']['option'][i] + '</div>');
                            }
                        }

                        $('.text-danger').parent().addClass('has-error');
                        element.focus();
                    } else {
                        showAlertWarning(json.warning);
                    }
                } else {
                    showAlertSuccess(json);
                    clearAlerts();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function () {
        var spinner = jQuery(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

        btnUp.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

        btnDown.click(function () {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

    });
</script>