{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="form-inline pull-right">
                <button id="save_and_stay" data-action="{{ button_save_and_stay_action }}" data-toggle="tooltip" title="{{ button_save_and_stay }}"
                        class="btn btn-success"><i class="fa fa-save"></i>
                </button>
                <button id="save" data-toggle="tooltip" title="{{ button_save }}"
                   class="btn btn-primary save"><i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }} {{ version }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error.warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error.warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} </h3>
            </div>
            <div class="panel-body">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_orders" data-toggle="tab">
                            <span class="fa fa-plug"></span>
                            {{ tab_heading_orders }}
                        </a>
                    </li>

                    <li><a href="#tab_setting" data-toggle="tab">
                            <span class="fa fa-cog"></span>
                            {{ tab_heading_setting }}
                        </a>
                    </li>

                    <li><a href="#tab_instructions" data-toggle="tab">
                            <span class="fa fa-cog"></span>
                            {{ tab_heading_instruction }}
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab_orders">
                        {{ tab_orders }}
                    </div>
                    <div class="tab-pane" id="tab_setting">
                        {{ tab_settings }}
                    </div>
                    <div class="tab-pane" id="tab_instructions">
                        {{ tab_instructions }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("[type='checkbox']").bootstrapSwitch({
        'onColor': 'success',
        'onText': '{{ text_yes }}',
        'offText': '{{ text_no }}'
    });

    $( document ).ready(function() {
        // $('.color-picker').colorpicker();
    });

    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        else {
            return results[1] || 0;
        }
    };

    function decode(url) {
        var encodedStr = url;
        var parser = new DOMParser;
        var dom = parser.parseFromString(
            '<!doctype html><body>' + encodedStr,
            'text/html');
        return dom.body.textContent;
    }

    function decodeUrlParameter(param) {
        return decodeURIComponent(param);
    }

    function addFilterToData(data, param, value) {
        return data + "&" + param + "=" + value;
    }

    function showAlert(json) {
        $('.alert, .text-danger').remove();
        $('.form-group').removeClass('has-error');

        if (json['error']) {
            if (json['error']) {
                $('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }

            for (i in json['error']) {
                var element = $('#input_' + i);

                if (element.parent().hasClass('input-group')) {
                    $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                } else {
                    $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                }
            }

            $('.text-danger').parentsUntil('.form-group').parent().addClass('has-error');
        }

        if (json['success']) {
            $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '  <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }
    }

    $('body').on('click', '#button-filter', function (e) {
        e.preventDefault();

        var data = $('#form-filter').serialize();
        var href = $(this).attr('data-action');

        $.ajax({
            type: 'post',
            url: href,
            data: data,
            dataType: 'json',
            beforeSend: function () {
                $('#content').fadeTo('slow', 0.5);
            },
            complete: function () {
                $('#content').fadeTo('slow', 1);
            },
            success: function (json) {
                if (json.error) {
                    showAlert(json);
                }
                if (json.redirect) {
                    var sort = decodeUrlParameter($.urlParam('sort'));
                    var order = decodeUrlParameter($.urlParam('order'));
                    var url = addFilterToData(decode(json.redirect), "sort", sort);
                    url = addFilterToData(url, "order", order);

                    location = url;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('body').on('click', '#save_and_stay', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'post',
            url: $(this).attr('data-action'),
            data: $('#form').serialize(),
            dataType: 'json',
            beforeSend: function () {
                $('#content').fadeTo('slow', 0.5);
            },
            complete: function () {
                $('#content').fadeTo('slow', 1);
            },
            success: function (json) {
                console.log(json);

                showAlert(json);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('body').on('click', '#save', function () {
        var action = $('#form').attr('action');

        $.ajax({
            type: 'post',
            url: action,
            data: $('#form').serialize(),
            dataType: 'json',
            beforeSend: function () {
                $('#content').fadeTo('slow', 0.5);
            },
            complete: function () {
                $('#content').fadeTo('slow', 1);
            },
            success: function (json) {
                var url = decode(json.redirect);
                showAlert(json);
                location = url
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('body').on('click', '.create', function (e) {
        e.preventDefault();
        var order_id = $(this).attr('data-event_id');
        var href = $(this).attr('href');

        $.ajax({
            type: 'post',
            url: href,
            data: {id: order_id},
            dataType: 'json',
            beforeSend: function () {
                $('#content').fadeTo('slow', 0.5);
            },
            complete: function () {
                $('#content').fadeTo('slow', 1);
            },
            success: function (json) {
                if (json.error) {
                    showAlert(json);
                }
                if (json.redirect) {
                    location = json.redirect.replace("&amp;", "&");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('body').on('click', '.delete', function (e) {
        e.preventDefault();

        var order_id = $(this).attr('data-event_id');
        var href = $(this).attr('href');

        $.ajax({
            type: 'post',
            url: href,
            data: {id: order_id},
            dataType: 'json',
            beforeSend: function () {
                $('#content').fadeTo('slow', 0.5);
            },
            complete: function () {
                $('#content').fadeTo('slow', 1);
            },
            success: function (json) {
                if (json.error) {
                    showAlert(json);
                }

                if (json.redirect) {
                    console.log("responce" + json.redirect);

                    var sort = decodeUrlParameter($.urlParam('sort'));
                    var order = decodeUrlParameter($.urlParam('order'));
                    var filter_name = decodeUrlParameter($.urlParam('filter_name'));
                    var filter_email = decodeUrlParameter($.urlParam('filter_email'));
                    var filter_phone = decodeUrlParameter($.urlParam('filter_phone'));
                    var filter_order_status_id = decodeUrlParameter($.urlParam('filter_order_status_id'));

                    var url = decode(json.redirect);
                    if(sort && sort !== null && sort != 'null'){
                        url = addFilterToData(url, "sort", sort);
                    }
                    if(order && order !== null && order != 'null'){
                        url = addFilterToData(url, "order", order);
                    }
                    if(filter_name && filter_name !== null && filter_name != 'null'){
                        url = addFilterToData(url, "filter_name", filter_name);
                    }
                    if(filter_email && filter_email !== null && filter_email != 'null'){
                        url = addFilterToData(url, "filter_email", filter_email);
                    }
                    if(filter_phone && filter_phone !== null && filter_phone != 'null'){
                        url = addFilterToData(url, "filter_phone", filter_phone);
                    }
                    if(filter_order_status_id && filter_order_status_id){
                        url = addFilterToData(url, "filter_order_status_id", filter_order_status_id);
                    }

                    location = url;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('body').on('click', '#button_uninstall', function (e) {
        e.preventDefault();
        var href = $(this).attr('data-action');

        $.ajax({
            type: 'post',
            url: href,
            dataType: 'json',
            beforeSend: function () {
                $('#content').fadeTo('slow', 0.5);
            },
            complete: function () {
                $('#content').fadeTo('slow', 1);
            },
            success: function (json) {
                if (json.error) {
                    showAlert(json);
                }
                if (json.redirect) {
                    var url = decode(json.redirect);
                    location = url;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>

{{ footer }}
