<div class="tab-body">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form"
          class="form-horizontal">
        <div class="flex row">
            <div class="flex col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="#vtab_basic_setting" data-toggle="tab"><span
                                    class="fa fa-cog"></span> {{ tab_basic_setting }}</a>
                    </li>
                    <li>
                        <a href="#vtab_button_setting" data-toggle="tab"><span
                                    class="fa fa-font"></span> {{ tab_button_setting }}</a>
                    </li>
                    <li>
                        <a href="#tab_modal_window_setting" data-toggle="tab"><span
                                    class="fa fa-cogs"></span> {{ tab_modal_window_setting }}
                        </a>
                    </li>
                    <li>
                        <a href="#tab_modal_fields_setting" data-toggle="tab"><span
                                    class="fa fa-file-text-o"></span> {{ tab_modal_fields_setting }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content">
                    <div id="vtab_basic_setting" class="tab-pane active">
                        <div class="page-header">
                            <h3><strong>{{ tab_basic_setting }}</strong></h3>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_basic_setting_enable }}</label>
                            <div class="col-sm-9">
                                <input type="hidden"
                                       name="{{ codename }}_status"
                                       value="0"/>
                                <input type="checkbox"
                                       name="{{ codename }}_status"
                                       value="1"
                                       class="switch" data-label-text="{{ text_enabled }}"
                                       {% if status %}checked="checked"{% endif %} />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">
                                <span data-toggle="tooltip" title="{{ help_module_selector }}">{{ tab_basic_setting_selector }}</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="{{  codename }}_setting[selector]"
                                       value="{{ settings.selector }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="button_uninstall"></label>
                            <div class="col-sm-9">
                                <button data-action="{{ button_uninstall }}" id="button_uninstall"
                                        data-toggle="tooltip" title="{{ button_uninstall_text }}"
                                        class="btn btn-danger"><i
                                            class="fa fa-trash"></i>{{ button_uninstall_text }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="vtab_button_setting" class="tab-pane">
                        <div class="page-header">
                            <h3><strong>{{ tab_button_setting }}</strong></h3>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input_checkbox">{{ tab_modal_button_name }}</label>
                            <div class="col-sm-9">

                                <div class="input-group">
                                    {% for language in languages %}
                                        <label class="input-group-addon"
                                               title="{{ language['name'] }}">
                                            <img src="{{ language['flag'] }}"
                                                 title="{{ language['name'] }}">
                                        </label>

                                        <input type="text"
                                               name="{{ codename }}_setting[text_button][{{ language['language_id'] }}]"
                                               value="{{ settings.text_button[language['language_id']] }}"
                                               class="form-control">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_button_style_color }}</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="{{ codename }}_setting[button_style][color]"
                                       value="{{ settings.button_style.color }}"
                                       class="form-control color-picker">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_button_style_border }}</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="{{ codename }}_setting[button_style][border]"
                                       value="{{ settings.button_style.border }}"
                                       class="form-control color-picker">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_button_style_bgColor }}</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="{{ codename }}_setting[button_style][background_color]"
                                       value="{{ settings.button_style.background_color }}"
                                       class="form-control color-picker">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_button_style_hover_color }}</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="{{ codename }}_setting[button_style][hover_color]"
                                       value="{{ settings.button_style.hover_color }}"
                                       class="form-control color-picker">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_button_style_hover_border }}</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="{{ codename }}_setting[button_style][hover_border]"
                                       value="{{ settings.button_style.hover_border }}"
                                       class="form-control color-picker">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_button_style_hover_bgColor }}</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="{{ codename }}_setting[button_style][hover_background_color]"
                                       value="{{ settings.button_style.hover_background_color }}"
                                       class="form-control color-picker">
                            </div>
                        </div>
                    </div>

                    <div id="tab_modal_window_setting" class="tab-pane">
                        <div class="page-header">
                            <h3><strong>{{ tab_modal_window_setting }}</strong></h3>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input_checkbox">{{ tab_modal_modal_setting_title }}</label>
                            <div class="col-sm-9">

                                <div class="input-group">
                                    {% for language in languages %}
                                        <label class="input-group-addon"
                                               title="{{ language['name'] }}">
                                            <img src="{{ language['flag'] }}"
                                                 title="{{ language['name'] }}">
                                        </label>
                                        <input type="text"
                                               name="{{ codename }}_setting[modal_heading_title][{{ language['language_id'] }}]"
                                               value="{{ settings.modal_heading_title[language['language_id']] }}"
                                               class="form-control">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_modal_setting_description }}</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    {% for language in languages %}
                                        <label class="input-group-addon"
                                               title="{{ language['name'] }}">
                                            <img src="{{ language['flag'] }}"
                                                 title="{{ language['name'] }}">
                                        </label>

                                        <textarea type="text"
                                                  name="{{ codename }}_setting[modal_description][{{ language['language_id'] }}]"
                                                  class="form-control">{{ settings.text_modal_button[language['language_id']] }}</textarea>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input_checkbox">{{ tab_modal_modal_setting_button_submit }}</label>
                            <div class="col-sm-9">

                                <div class="input-group">
                                    {% for language in languages %}
                                        <label class="input-group-addon"
                                               title="{{ language['name'] }}">
                                            <img src="{{ language['flag'] }}"
                                                 title="{{ language['name'] }}">
                                        </label>

                                        <input type="text"
                                               name="{{ codename }}_setting[text_modal_button][{{ language['language_id'] }}]"
                                               value="{{ settings.text_modal_button[language['language_id']] }}"
                                               class="form-control">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="tab_modal_fields_setting" class="tab-pane">
                        <div class="page-header">
                            <h3><strong>{{ tab_modal_fields_setting }}</strong></h3>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_fields_setting_name }}</label>
                            <div class="col-sm-9">
                                <input type="hidden"
                                       name="{{ codename }}_setting[modal_field][name]"
                                       value="0"/>
                                <input type="checkbox"
                                       name="{{ codename }}_setting[modal_field][name]"
                                       value="1"
                                       class="switch" data-label-text="{{ text_enabled }}"
                                       {% if settings.modal_field.name %}checked="checked"{% endif %} />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_fields_setting_name_require }}</label>
                            <div class="col-sm-9">
                                <input type="hidden"
                                       name="{{ codename }}_setting[modal_field][name_required]"
                                       value="0"/>
                                <input type="checkbox"
                                       name="{{ codename }}_setting[modal_field][name_required]"
                                       value="1"
                                       class="switch" data-label-text="{{ text_enabled }}"
                                       {% if settings.modal_field.name_required %}checked="checked"{% endif %} />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_fields_setting_email }}</label>
                            <div class="col-sm-9">
                                <input type="hidden"
                                       name="{{ codename }}_setting[modal_field][email]"
                                       value="0"/>
                                <input type="checkbox"
                                       name="{{ codename }}_setting[modal_field][email]"
                                       value="1"
                                       class="switch" data-label-text="{{ text_enabled }}"
                                       {% if settings.modal_field.email %}checked="checked"{% endif %} />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_fields_setting_email_require }}</label>
                            <div class="col-sm-9">
                                <input type="hidden"
                                       name="{{ codename }}_setting[modal_field][email_required]"
                                       value="0"/>
                                <input type="checkbox"
                                       name="{{ codename }}_setting[modal_field][email_required]"
                                       value="1"
                                       class="switch" data-label-text="{{ text_enabled }}"
                                       {% if settings.modal_field.email_required %}checked="checked"{% endif %} />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_fields_setting_comment }}</label>
                            <div class="col-sm-9">
                                <input type="hidden"
                                       name="{{ codename }}_setting[modal_field][comment]"
                                       value="0"/>
                                <input type="checkbox"
                                       name="{{ codename }}_setting[modal_field][comment]"
                                       value="1"
                                       class="switch" data-label-text="{{ text_enabled }}"
                                       {% if settings.modal_field.comment %}checked="checked"{% endif %} />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">{{ tab_modal_fields_setting_comment_require }}</label>
                            <div class="col-sm-9">
                                <input type="hidden"
                                       name="{{ codename }}_setting[modal_field][comment_required]"
                                       value="0"/>
                                <input type="checkbox"
                                       name="{{ codename }}_setting[modal_field][comment_required]"
                                       value="1"
                                       class="switch" data-label-text="{{ text_enabled }}"
                                       {% if settings.modal_field.comment_required %}checked="checked"{% endif %} />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="input-status">
                                <span data-toggle="tooltip" title="{{ tab_modal_fields_setting_phone_format_help }}">{{ tab_modal_fields_setting_phone_format }}</span>
                            </label>
                            <div class="col-sm-9">
                                <input value="{{ settings.modal_field.phone_format }}" type="text"
                                       name="{{ codename }}_setting[modal_field][phone_format]"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
